@page "/numerics/ode/single-step/runge-kutta"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Runge-Kutta Butcher tableaus</PageTitle>

@if (State is null || State.Value.IsLoading)
{
    <FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
}
else
{
    <h1>Runge-Kutta Butcher tableaus</h1>

    <FluentRadioGroup Name="explicit" @bind-Value="_explicitFilter" Label="Explicit">
        <FluentRadio Value="0">All</FluentRadio>
        <FluentRadio Value="1">Yes</FluentRadio>
        <FluentRadio Value="2">No</FluentRadio>
    </FluentRadioGroup>
    <FluentRadioGroup Name="embedded" @bind-Value="_embeddedFilter" Label="Embedded">
        <FluentRadio Value="0">All</FluentRadio>
        <FluentRadio Value="1">Yes</FluentRadio>
        <FluentRadio Value="2">No</FluentRadio>
    </FluentRadioGroup>
    <FluentRadioGroup Name="builtIn" @bind-Value="_builtInFilter" Label="Built in">
        <FluentRadio Value="0">All</FluentRadio>
        <FluentRadio Value="1">Yes</FluentRadio>
        <FluentRadio Value="2">No</FluentRadio>
    </FluentRadioGroup>
    <FluentDataGrid Items="@Items">
        <TemplateColumn Title="Name" Sortable="true" SortBy="@sortByName">
            <FluentButton Appearance="Appearance.Lightweight" @onclick="@(() => OpenPanelRightAsync(context.Id))">@context.Name</FluentButton>
        </TemplateColumn>
        <PropertyColumn Title="Steps" Property="@(p => p.Steps)" Sortable="true" />
        <TemplateColumn Title="Explicit">
            <FluentIcon Value="@context.IsExplicit.ToIcon()" />
        </TemplateColumn>
        <TemplateColumn Title="Embedded">
            <FluentIcon Value="@context.IsEmbedded.ToIcon()" />
        </TemplateColumn>
        <TemplateColumn Title="Built in">
            <FluentIcon Value="@context.IsBuiltIn.ToIcon()" />
        </TemplateColumn>
        <TemplateColumn Title="Order">
            @if (context.IsEmbedded) 
            {
                <div>@context.B1Order / @context.B2Order</div>
            }
            else
            {
                <div>@context.Order</div>
            }
        </TemplateColumn>
    </FluentDataGrid >
}

