@page "/"
@using System.Linq.Expressions
@using static DSE.NumberHelpers

<style>
    th, td {
        padding: 0.5rem;
    }
</style>

<PageTitle>Dynamical systems explorer</PageTitle>

<h1>Welcome</h1>

@{
    Expression<Func<double, double>> cos = x => System.Math.Cos(x);
    Expression<Func<double, double>> sin = x => System.Math.Sin(x);
    Expression<Func<double, double, double>> expr =
        add ? (Expression<Func<double, double, double>>)Expression.Lambda<Func<double, double, double>>(
            Expression.Add(cos.Body, sin.Body),
            cos.Parameters[0],
            sin.Parameters[0]
        ) : (Expression<Func<double, double, double>>)Expression.Lambda<Func<double, double, double>>(
            Expression.Subtract(cos.Body, sin.Body),
            cos.Parameters[0],
            sin.Parameters[0]
        );
    var f = expr.Compile();
}

<table>
    <tr>
        <td>x: </td>
        <td><input type="number" @bind="x" /></td>
    </tr>
    <tr>
        <td>y: </td>
        <td><input type="number" @bind="y" /></td>
    </tr>
    <tr>
        <td>add / subtract: </td>
        <td><input type="checkbox" @bind="add" /></td>
    </tr>
    <tr>
        <td>result (@expr.ToString()) </td>
        <td>@(result = f(x, y))</td>
    </tr>
</table>

<table>
    <tr>
        <td>Tekst</td>
        <td><input @bind="Text" /></td>
    </tr>
    <tr>
        <td>Is integer: </td>
        <td>@DSE.NumberHelpers.IsInteger(Text)</td>
    </tr>
    <tr>
        <td>Is real: </td>
        <td>@DSE.NumberHelpers.IsReal(Text)</td>
    </tr>
    <tr>
        <td>Is Imaginary: </td>
        <td>@DSE.NumberHelpers.isImaginary(Text)</td>
    </tr>
    <tr>
        <td>Is complex: </td>
        <td>@DSE.NumberHelpers.IsComplex(Text)</td>
    </tr>
</table>

@code {
    private bool add = true;
    private double x = 1;
    private double y = 2;
    private double result;

    private string? Text { get; set; }
}